<tr>
  <td class="field-label col-md-2 active">
    <% if defined?(user.first_name) && defined?(user.last_name) %>
      <label><%= link_to user.first_name + ' ' + user.last_name, user %></label>
    <% else %>
      <label><%= link_to 'No name provided', user %></label>
    <% end %>
  </td>
  <td class="col-md-2"><%= user.email %></td>
  <td class="col-md-2">
  	<% if user.admin == true %>
  		Yes
  	<% else %>
  		No
  	<% end %>
  </td>
  <td><%= link_to 'Edit', edit_user_registration_path(user) %></td>
  <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
