<p id="notice"><%= notice %></p>

<div class="user_info">
    <p>
        <strong>First name:</strong>
        <% if @user.first_name != nil %>
            <%= @user.first_name %>
        <% else %>
            No value provided
        <% end %>
    </p>

    <p>
        <strong>Last name:</strong>
        <% if @user.last_name != nil %>
            <%= @user.last_name %>
        <% else %>
            No value provided
        <% end %>
    </p>

    <p>
        <strong>Email:</strong>
        <%= @user.email %>
    </p>
</div>

<div class="users_following">
    <p>
        <strong>Following:</strong>
        <% for user in @following %>
            <%= user.email %>
        <% end %>
    </p>
    <p>
        <strong>Followed by:</strong>
        <% for user in @followers %>
            <%= user.email %>
        <% end %>
    </p>
</div>

<% if @user != current_user %>
    <div class="follow">
        <%= link_to 'Follow', users_follow_path(id: @user.id) %>
    </div>
<% end %>

<%= link_to 'Edit', edit_user_registration_path(@user) %> |
<%= link_to 'Back', users_path %>
