<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row form-page">
    <div class="col-md-offset-2 col-md-8">
      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :description %><br>
        <%= f.text_area :description, 
            :class => "form-control", 
            :id => "new_product_description" %>
      </div>
      <div class="field">
        <%= f.label :image_url %><br>
        <%= f.text_field :image_url, class: "form-control" %>
      </div>
      <div class="field">
        <%= f.label :amount %><br>
        <%= f.text_field :amount, class: "form-control" %>
      <div class="field">
        <%= f.label :colour %><br>
        <%= f.select(
            :colour, 
            options_for_select([['', 1],['Red', 2],['Green', 3],['Blue', 4], ['Orange', 5]]),
            {},
            :class => "chosen-select form-control",
            data_placeholder: "Pick a color... ") %>
      </div>
      </br>
      <div class="actions">
        <%= f.submit class: "btn btn-default btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
