<div class="product_info">
  <p>
    <strong>Name:</strong>
    <%= @product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @product.description %>
  </p>

  <p>
    <strong>Colour:</strong>
    <%= @product.colour %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= '%.2f' % (@product.amount/100.00) %>
  </p>

  <div class="average-rating">
	Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div>
  </div>

  <div class ="add_product_to_wish_list">
    <%= form_for @wish do |f| %>
      <%= hidden_field_tag :product_id, @product.id %>
      <p><%= f.submit "Add to Wish List" %></p>
    <% end %>
  </div>
</div>

<div class="payment_button">
  <%= form_tag('/payments/new', method: 'get') do %>
    <%= render partial: "shared/stripe_checkout_button" %>
    <%= hidden_field_tag :product_id, @product.id %>
  <% end %>
</div>

<div class="product_image">
  <p>
    <%= image_tag(@product.image_url, class: "display_image", width: "350", data_zoom_image: "#{ @product.image_url }") %>
  </p>
</div>

<div class="edit_back">
  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>
</div>

<div class="add_review">
  <% if signed_in? %>
	  <h4>Add a review</h4>
	  <%= form_for([@product, @product.comments.build], remote: true) do |f| %>
	    <p>
		    <%= f.label :body, "Comments" %><br>
		    <%= f.text_area :body %>
      </p>
      <p>
		    <div class="rating"></div>
      </p>
      <p>
		    <%= f.submit "Submit" %>
      </p>
    <% end %>
  <% end %>
</div>


<div class="product_reviews">
	<% @comments.reverse_each do |comment| %>
		<div class="row">
			<hr>
			<p>
				<%= comment.user.first_name %> <small><em><%= "#{time_ago_in_words(comment.created_at)} ago" %></em></small>	
				<% if signed_in? && current_user.admin? %>
					<%= link_to ('<span class="glyphicon glyphicon-remove"></span>').html_safe, product_comment_path(@product, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
				<% end %>
			</p>
			<div class="rated" data-score="<%= comment.rating %>"></div>			
			<p><%= comment.body %></p>

		</div>
	<% end %>
	<%= will_paginate @comments %>
</div>

